@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital@1&family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar .footer-content{
    text-align: center;
    margin: auto;
    color: white;
    font-size: 20px;
}


/* .container .btn {
  background-color: grey;
  color: black;
} */
